@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Jost:wght@100&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/anime-girls-white-background-2159287-wallhere\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#root{
  padding-top: 50px;
}

.mainContent{
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.pie{
  width: 100%;
  height: 80px;
  margin-top: 30px;
  background-color: rgba(237, 172, 100, 1);
  position: fixed;
  bottom: 0;
}
.nameApp{
  background-color: rgba(237, 172, 100, 1);
  height: 125px;
  width: 350px;
  position: relative;
  bottom: 90px;
  left: 50px;
  border-radius: 50px 50px 0 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-family: 'Jolly Lodger', cursive;
  font-size: 80px;
}
