/* ELEMENTO TO DO */
/* Estilo para quitar márgenes y relleno por defecto de la lista desordenada */
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.item {
    margin-top: 30px;
    display: flex;
    border: 2px solid;
    border-color: rgb(105, 105, 105);
    border-radius: 35px;   
    width: 500px;
    height: 70px;
}

/* ESTILOS DEL CHECK MARK */
.check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100px;
}
  
.check input{
    appearance: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
    border: 1px solid rgb(128, 128, 128);
}
.check input:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    
}
/* ESTILOS DE LA FRACE TODO */
.frace{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ESTILOS DEL BOTON DELETE */
.delete{
    display: flex;
    position: relative;
    border-radius: 50%;
    background-color: gray;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: -75px;
    cursor: pointer;
}